<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Informe de Candidato - {{candidato.nombre}}</title>
  <style>{{{asset "informeSeleccio04.css"}}}</style>
</head>
<body>
  {{#each modulos}}
    {{#if secciones}}
      <section class="module">
        <h2>{{titulo}}</h2>
        {{#each secciones}}
          {{#if items}}
            <div class="section">
              <h3>{{titulo}}</h3>
              {{#each items}}
                <div class="item">
                  {{#if texto}}
                    {{#each (splitLines texto)}}
                      <p>{{this}}</p>
                    {{/each}}
                  {{/if}}
                  {{#if lista}}
                    <ul>
                      {{#each lista}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/each}}
      </section>
    {{/if}}
  {{/each}}
</body>
</html>
